*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #03cc66;
}
.container{
    width: 250px;
    padding: 40px 60px;
    background-color: #e5e5e5;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container *{
    font-family: "Poppins",sans-serif;
}
input[type="number"]{
    width: 100%;
    font-size: 50px;
    padding: 10px;
    outline: none;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}